<div>
  <ng-template #noData>
    <div class="no-data">
      <img src="../../../assets/no-data.JPG" class="no-data">
      <h2>No data to display. Click on "New" button to create one!</h2>
    </div>
  </ng-template>
    <table mat-table [dataSource]="listData" class="mat-elevation-z8" *ngIf="listData.length > 0 ; else noData">
        
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.fieldName">
            <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column.fieldName] | format: column.format}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td *matCellDef="let row; let i=index">
              <button mat-icon-button (click)="editData(row,i)" *ngIf="checkEdit()">
                <mat-icon>launch</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteRow(i)" *ngIf="checkDelete()">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>